    <div class="ads" style="pointer-events: none;">
        <div>
            <div class="plugContainer" style="height:1600px;">
                <div class="plugCenter">
                    <span class="plugtext" style="font-size:210px;letter-spacing: 4px;">Charge</span><br/>
                    <span class="plugtext" style="font-size:88px;letter-spacing: 2px;">your</span><br/>
                    <span class="plugtext" style="font-size:210px;letter-spacing: 2px;">Phone</span><br/>
                    <span class="plugtext" style="font-size:88px;letter-spacing: 2px;">for</span><br/>
                    <span class="plugtext" style="font-size:260px;font-weight:bold;letter-spacing: 10px;">FREE!</span>
                </div>
            </div>
        </div>
        <div> <img class="center-block" src="images/1.jpg"> </div>
        <div> <img class="center-block" src="images/2.jpg"> </div>
        <div> <img class="center-block" src="images/3.jpg"> </div>
    </div>
