<div id=screen>
  <div id=body>
    <!--
    <div ng-show="!forPickup && !isDone && !isFull" class="door-open">
      <div class="plugContainer" style="height:600px;">
	<div class="plugCenter">
	  <span class="plugtext" style="font-size:115px;font-weight:bold;letter-spacing: 4px;">Drop off</span><br/>
	  <span class="plugtext" style="font-size:45px;letter-spacing: 2px;display: block;margin-bottom: -40px;margin-top: 20px;">your</span><br/>
	  <span class="plugtext" style="font-size:145px;letter-spacing: 10px;">Phone</span>
	</div>
      </div>

      <div class="plugContainer plugHow">
	<div class="plugCenter grey">
	  <img class="plugHowIcon" src="image/credit-no.png">
	  <div class="plugHowText ">
	    <div class="plugHowTextLg">Swipe your card</div>
	    <div class="plugHowTextMd">To open a chamber, or retrieve your phone.</div>
	    <div class="plugHowTextSm">You won't be charged.</div>
	  </div>
	</div>
      </div>

      <div class="plugContainer plugHow">
	<div class="plugCenter ">
	  <img class="plugHowIcon" src="image/dropoff.png">
	  <div class="plugHowText">
	    <div class="plugHowTextLg">Drop off your phone</div>
	    <div class="plugHowTextMd">Connect it to the appropriate cable.</div>
	    <div class="plugHowTextSm">And close the door.</div>
	  </div>
	</div>
      </div>

      <div class="plugContainer plugHow">
	<div class="plugCenter grey">
	  <img class="plugHowIcon" src="image/pickup-no.png">
	  <div class="plugHowText">
	    <div class="plugHowTextLg">Retrieve your phone</div>
	    <div class="plugHowTextMd">It's ready to go!</div>
	    <div class="plugHowTextSm">Thank you for using PLUG</div>
	  </div>
	</div>
      </div>
    </div>

    <div ng-show="isDone" class="door-closed">
      <div class="plugContainer" style="height:1700px">
	<div class="plugCenter">
	  <h1 style="font-family:Montserrat;font-size:100px;">Thank You</h1>
	  <h1 style="font-family:Montserrat;font-size:30px;letter-spacing:3px;vertical-align:middle;">For using</h1>
	  <h1 class="plug-logo" style="vertical-align:middle;font-size:200px;">PLUG</h1>
	  <img src="image/battery.png" style="margin-left:-150px;padding:100px 0 100px 0;">
	  <h2 style="font-family:Montserrat;font-size:35px;">Your phone is charging.</h2>
	</div>
      </div>
    </div>

    <div ng-show="false" class="door-still-open ">
      <h1>Please Close the Door</h1>
      <h3>Pretty Please?</h3>
    </div>

    <div ng-show="isFull" class="locker-full">
      <div class="plugContainer" style="height:1700px;">
	<div class="plugCenter">
	  <span class="plugtext" style="font-size:160px;letter-spacing: 5px;">Sorry</span><br/>
	  <span class="plugtext" style="font-size:55px;letter-spacing: 3px;display: block;margin-bottom: -30px;">all lockers are</span><br/>
	  <span class="plugtext" style="font-size:170px;font-weight:bold;letter-spacing: 10px;">FULL</span>
	  <span class="plugtext" style="font-size:50px;letter-spacing: 6px;display: block;margin-top: 250px;">please try again later</span>
	</div>
      </div>

    </div>
    <div ng-show="forPickup" class="door-closed ">
      <h1>Please make sure you have the correct card and try again.</h1>
    </div>
    -->
  </div>
</div>
