<div id=screen>
  <div class="conditional door-open active">
    <div class="plugContainer" style="height:600px;">
      <div class="plugCenter">
	<span class="plugtext" style="font-size:40px;letter-spacing: 2px;display: block;margin-bottom: -15px;">please</span><br/>
	<span class="plugtext" style="font-size:112px;font-weight:bold;letter-spacing: 4px;">Retrieve</span><br/>
	<span class="plugtext" style="font-size:45px;letter-spacing: 2px;display: block;margin-bottom: -40px;margin-top: 10px;">your</span><br/>
	<span class="plugtext" style="font-size:145px;letter-spacing: 10px;">Phone</span><br/>
	<span class="plugtext" style="font-size:34px;letter-spacing: 5.5px;">and close the door</span>
      </div>
    </div>

    <div class="plugContainer plugHow">
      <div class="plugCenter ">
	<img class="plugHowIcon" src="image/pickup.png">
	<div class="plugHowText">
	  <div class="plugHowTextLg">Retrieve your phone</div>
	  <div class="plugHowTextMd">It's ready to go!</div>
	  <div class="plugHowTextSm">Thank you for using PLUG</div>
	</div>
      </div>
    </div>
  </div>

</div>
