<div id=screen>
  <!--
  <div class="plugContainer" style="height:300px;">
    <div class="plugCenter">
      <span class="plugtext" style="font-size:90px;letter-spacing:5px;vertical-align:middle;">Terms</span>
      <span class="plugtext" style="font-size:150px;font-weight:bold;letter-spacing: 2px;vertical-align:middle;padding:0 10px;">&</span>
      <span class="plugtext" style="font-size:85px;letter-spacing: -1px;vertical-align:middle;">Conditions</span>


    </div>
  </div>


  <div class="plugContainer">
    <div id="terms-wrapper" class="panel panel-default" style="height: 700px; overflow: hiden;">
      <div id="terms" class="panel-body">
	<h2 style="margin:0;">
	  This kiosk is owned by Plug for lives LLC (PLUG). Each person using the kiosk (this means you) is bound by the terms of Use (terms). The person or company that owns the locations of the kiosk(merchant) may also add terms and conditions. Damages or theft of the kiosk are strictly prohibited. PLUG kiosks are strictly for the purpose of charging mobile devices (devices) and conveying advertisement based information. They (Plug kiosks) may not be used to charge or store any other personal items. Personal items will be removed and may be discarded, sold or even given away at the sole discretion of PLUG and the merchant. PLUG is not responsible for damaged, stolen, or lost mobile devices, or other property. Users of PLUG's kiosks are responsible for removing their mobile devices prior to closing of the merchant's business or within 3 hours of usage, whichever comes first.
	  <br/><br/>
	  <strong>Privacy notice</strong><br/>
	  The privacy notice describes the types of information that PLUG collects about users, how we use the information, and with whom we may share it. We also describe the measures we take to protect the security of the information and how users can contact us about our privacy.
	  <br/><br/>
	  When you use PLUG, you provide your credit card number as the method to authenticate and secure your mobile device. In addition, a camera in the kiosk takes photos of you for customer service, security, and to protect against criminal activity, claims, and liabilities. We protect the personal information that we collect and implement administrative, technical and physical safeguards designed to protect the personal information you provide.
	  <br/><br/>
	  No information is gathered and retained from the users mobile device. Credit card information is encrypted and stored on the device(PLUG kiosk) between visits. This data is also stored for 2 additional days for security reasons. Credit card information is not shared with any third parties without consent of the user.
	  <br/><br/>
	  <strong>Sharing personal information</strong><br/>
	  PLUG does not sell, trade or otherwise disclose the personal information collect about you, except as described here. we may share informant with:
	  Service providers who presume services on our behalf. We do not authorize these service providers to use or disclose the information except as necessary to perform services on your behalf or our company with legal requirements.
	  <br/><br/>
	  In addition, we may disclose information about you:
	  if we are required to do so by law or legal process
	  to law enforcement authorities or other government officials
	  when we believe you may be suspected of actual fraudulent or illegal activity. We also reserve the right to transfer information about you in the event we sell or transfer all or a portion of our business or assets. (including in the event of a reorganization,dissolution or liquidation)
	  <br/><br/>
	  <strong>Updates to this privacy notice</strong><br/>
	  this privacy notice may be updated periodically and without prior notice to you to reflect changes in our personal informant practices. We will indicate at the top of the notice when it was most recently updated.
	  <br/><br/>

	  Questions?
	  <br/><br/>
	  Please reach out to us with any inquiries at the number below!
	  feedback@plugforlives.com
	  plugforlives.com
	  1-925-354-5215

	</h2>
      </div>
    </div>
  </div>
  -->

  <button class="plugButton animated bounceIn" ng-click="agree()"> Accept </button>
  <button ng-disabled="declineDisabled" class="plugButton animated bounceIn" ng-click="decline()"> Decline </button>

</div>
